/* aqui estou zerando medidas padrões do navegador na minha página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Estilos das fontes  */
body {
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

/* Estilos do header*/
header {
    background-color: gold;
    padding: 16px 0;
    border-bottom: 1px solid red;
    
}

header > div {

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

header img {
    
    max-height: 50px;
   
}

header nav {
    display: flex;
    gap: 20px;
}

nav  a {
    margin: 10px 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.btn-container {
    display: flex;
    gap: 5px;
}

.btn-aluno {
    padding: 8px 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.btn-aluno:hover {
    background-color: black;
    color: white;
}

header .btn-inscricao {
    padding: 8px 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
}

header .btn-inscricao:hover {
    background-color: black;
    color: white;
}

nav a:hover {
    color: gold;
}

/* Estilos da Main*/

main {
    padding: 30px 0;
    background-color: gold;

}

h1 {
    font-size: 3.0rem;
    color: white;
}

h2 {
    font-size: 2rem;
    margin-top: 1px;
}

button {
    
    align-self: flex-start;
    margin-top: 0;
    padding: 10px 30px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;


}

button:hover {
    background-color: black;
    color: gold;
}

/* Estilos dos cards */

.cardgroup {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 5px solid;
    border: none;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.cardund {
    background-color: gold;
    border: 2px solid;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
    margin: 10px;
    transition: transform 0.3s ease;
    
    
}

.cardund:hover {
    transform: translateY(-8px);
}

.card-info {
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;

}

.card-title {
    
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.card-text {
    font-size: 1rem;
    
}

/* Estilos do footer*/

footer {
    background-color: gold;
    color: white;
    padding: 10px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    
    
}

footer h5 {
    
    font-size: 1rem;
    margin-bottom: 20px;
}

footer form {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}



.alinhar-input1 {
    display: flex;
    color: white;
    flex-direction: column;
        
}

.alinhar-input2 {
    display: flex;
    color: white;
    flex-direction: column;

}



label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: black;
    
}

label:hover {
    color: white;
}
    
.input-email {
    background-color: white;
    width: 300px;
    border-radius: 4px;
    border: none;
    padding: 8px;
    
}

.input-tel {
    background-color: white;
    width: 200px;
    border-radius: 4px;
    border: none;
    padding: 8px;
}

.conhecercursos {
    background-color: white;
    color: gold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-weight: 800;
    text-shadow: 2px 2px 0px black;
}

.nossos-contatos {
    color: black;
}

.fale-conosco {
    display: flex;
    justify-content: center;
    
}

.form-newsletter {
    
    justify-content: center;
}

.inicio {
    margin: 10px;
}

html {
    scroll-behavior: smooth;
  }






